@using Sandbox;
@using Sandbox.UI;
@using System.Linq;
@using System.Threading.Tasks;
@using System.Collections.Generic;
@using Sandbox.Menu;

@inherits RootPanel
@implements Sandbox.Menu.ILoadingScreenPanel
@attribute [StyleSheet]

<root style="flex-direction: column;">
    <div class="background @( ChosenAnimClass )" />

    <div style="flex-grow: 1;" />

    <div class="controls" style="flex-direction: row; justify-content: center;">
        <a class="button">@( Progress.Title ?? "Loading..." )</a>
    </div>
</root>

@code
{
    public LoadingProgress Progress;

    public string[] AnimClassArray = { "loadingAnim1", "loadingAnim2", "loadingAnim3" };
    public string ChosenAnimClass;

    public string getRandomAnimation()
    {
        return AnimClassArray[System.Random.Shared.Int(AnimClassArray.Length - 1)];
    }

    public void OnLoadingProgress( LoadingProgress progress )
    {
        Progress = progress;
        StateHasChanged();
    }

    protected override void OnAfterTreeRender(bool firstTime)
    {
        base.OnAfterTreeRender(firstTime);

        if (firstTime)
            ChosenAnimClass = getRandomAnimation();
    }
}
