@using System;
@using Sandbox;
@using Sandbox.UI;

@inherits Sandbox.UI.NavHostPanel
@implements Sandbox.Menu.IGameMenuPanel
@attribute [StyleSheet]

<root style="flex-direction: column;">
    <MenuCity class="background" />
    <div class="game-description">
        <p>This gamemode is under heavy development. Expect a lot of bugs.</p>
        <p>Last revision: @Game.Menu.Package.Updated.Date.ToShortDateString()</p>
        <p>Thank you for playing!</p>
    </div>
    <div class="navigator-canvas" slot="navigator-canvas" />
</root>

@code
{
    public override void Tick()
    {
        base.Tick();
        UpdateMusic();
    }

    SoundHandle MenuMusic;

    void UpdateMusic()
    {
        if (Game.InGame)
        {
            MenuMusic.Stop(true);
            return;
        }

        if (!MenuMusic.IsPlaying)
        {
            MenuMusic = Audio.Play("runnervision_menumusic");
        }
    }

    public MainMenu()
    {
        DefaultUrl = "/";

        AddDestination( "/", typeof( FrontPage ) );
        AddDestination( "/setup", typeof( SetupGame ) );

        AddDestination( "/lobby/list", typeof( LobbyBrowser ) );
        AddDestination( "/lobby/active", typeof( ActiveLobby ) );

        BindClass( "ingame", () => Game.InGame );
    }

    [GameEvent.Menu.ServerJoined]
    public void OnServerJoined() => Navigate( "/" );

    [GameEvent.Menu.ServerLeave]
    public void OnServerLeave() => Navigate ("/" );

    protected override int BuildHash()
    {
        return HashCode.Combine( Game.InGame, Game.Menu.Lobby, Game.Menu.Lobby?.Map );
    }
}
